.navbar-container{
    height: 4em;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}
.left-container {
    width: 20%;
}
.right-container {
    min-width: 80%; 
    display: flex;
    justify-content: flex-end;  
    width: 10%;
}
.app-title {
    position: relative;
    top: 20%;
    margin-right: 1em;
    cursor: pointer;
}

.dropdown {
    position: relative;
    top: 5%;
    margin-left: 1em;
    margin-right: 1px;
    height: 91%;
}
.dropdown-button {
    cursor: pointer;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    width: 9.5em;    
    max-width: 9.5em;
    height: 97%;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    padding: 1em;
    
}

.dropdown:hover .dropdown-content{
    display: block;
}
.search-input {
    // width set to 50 percent of browser width;
    width: 90%;
    // height cannot exceed 80% of container size
    max-height: 80%;
    // position relative to container
    position: relative;
    // move down by 5 percent
    top: 5%;
    // set font 1.5x larger than default size
    font-size: 150%;
    // inner text padding 
    padding-left: 1%;
}

.search-button {
    height: 89%;
    margin-left: 1px;
    position: relative;
    top: 5%;
    width: 10%;
    cursor: pointer;
}

.dropdown-item {
    cursor: pointer;
    font-size: 1.3em;
}