<div class="navbar-container">
  <div class="left-container">
      <h1 class="app-title" (click)="goHome()">Light Market</h1>
  </div>
  <div class="right-container">
    <div class="dropdown">
      <button class="dropdown-button">{{shopCategory}} &#x25BE; </button>
      <div class="dropdown-content">
        <a class="dropdown-item" (click)="setCategory('Computers')"> Computers</a>
        <a class="dropdown-item" (click)="setCategory('Tablets')"> Tablets</a>
        <a class="dropdown-item" (click)="setCategory('Laptops')"> Laptops</a>
      </div>
    </div>
    <input #term (keyup.enter)="searchPage()" (keyup)="onEnter(term.value)" class="search-input" />
    <button class="search-button" (click)="searchPage()">Search</button>
  </div>
</div>
