<div class="item-container">
    <div *ngFor="let item of itemArr" class="item">
      <img class="image" src={{item.url}} (click)="goItemPage(item.key)" />
      <h3 class="margins item-title" (click)="goItemPage(item.key)">{{item.itemName}}</h3>
      <p class="margins">{{item.description}}</p>
      <p class="margins">seller: {{item.sellerName}}</p>
      <p class="margins">price: ${{item.itemPrice}}</p>
      <p class="margins">condition: {{item.itemCondition}}</p>
      <p class="margins">key: {{item.key}}</p>
    </div>
</div>