.itempage-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1em;
}

.image {
    width: 100%;
    max-height: 25%;
}
.cart-button {
    width: 10em;
    height: 3em;
    margin-top: 1%;
    margin-bottom:5%;
    margin-right: 1%;
}
